.video-container {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-wrapper {
  position: relative;
  canvas {
    position: absolute;
    top: 96px;
    left: 646px;
  }
}